<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - job_zila_mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/job_zila_mvc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>Job Zila</h1>

        <nav>
            <ul>
                <li><a     asp-controller="Home" asp-action="Index"  >Home</a></li>

                <li><a href="/job-zila/jobsearch.html">Job Search</a></li>
                <li><a href="/job-zila/joblisting.html">Job Listing</a></li>
                <li><a href="/job-zila/joblisting-json.html">Job Listing Json</a></li>
                <li>
                    <a href="/job-zila/terms-of-service.html">Terms of Service</a>
                </li>
                <li><a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                




                <li>
                    <a href="@Url.Action()">Terms of Service</a>
                </li>

                <li>  <a href="@Url.Action("Index", "Blog")">My Blog</a>  </li>



                
                @* <li> @Html.ActionLink("Blog Post","Index","Blog" , null, new {title="My Blog Post Page"})   </li> *@

                
                @* <li><a asp-controller="Blog" asp-action="Post">Blog Post</a></li> *@
                
                <li><a href="/job-zila/contact-us.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    @*<section id="mainContent">
        <h2>Explore your dream job with us</h2>

    
    </section>*@

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>
            &copy; @DateTime.Now.Year My Job Board. All rights reserved. |
            <a href="">Contact Us</a> | <a href="">Terms</a> |
            <a href="">Privacy</a>
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
